<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findAll" resultType="com.example.demo.domain.User">
        select * from users
    </select>

    <select id="findById" resultType="com.example.demo.domain.User">
        select * from users where id=${id}
    </select>

    <select id="insert" parameterType="com.example.demo.domain.User">
        insert into users (name, age, email) values (#{name}, #{age}, #{email})
    </select>

    <select id="update" parameterType="com.example.demo.domain.User">
        update users set email=#{email}, name=#{name} where id=${id}
    </select>

    <select id="delete" parameterType="com.example.demo.domain.User">
        delete from users where id=${id}
    </select>
</mapper>